{% extends 'noticiais/base.html' %}
{% load static %}
{% block content %}
    <h1>Cadastro de Associado</h1>
    <form>
        CPF <input type="text" name="cpf" id="cpf">
        RG <input type="text" name="rg" id="rg">
        Nome Completo <input type="text" name="nome" id="nome">
        Nome Social <input type="text" name="rg" >
        Genero
        <select>
            <option>Masculino</option>
            <option>Feminino</option>
            <option>Binário</option>
            <option>Outro</option>
            <option>Prefiro não responder</option>
        </select>
        Data de Nascimento
        <input type="date" name="nasc" id="nasc">
        <input type="submit" value="Cadastrar">
    </form>
{% endblock %}