/*
    estilizar uma tag
    estilizar uma classe
    estilizar um identificador
 */
body{
    background-color: #2D276A;
}
.para_azul{
    color: blue;
}
#topo{
    background-color: green;
    width: 900px;
    height: 160px;
    border: 2px solid red;
}
#midias_buscar {
    background-color: #00E3A2;
    width: 100%;
    height: 52px;
}
#topo_menu{
    background-color: #FF7F00;
    width: 100%;
    height: 108px;
}
main{
    width:100%;
    height:1200px;
    border: 2px solid #aaaaaa;
    background-color: #2D276A;
}
footer{
    height:67px;
    background-color: #00AEEF;
}