{% extends 'noticiais/base.html' %}
{% load static %}
{% block content %}
    <div id="site">
        <div id="slide_show">
            aqui é o slide show
        </div>

        <div id="noticias">
            aqui é a noticias
        </div>

        <div id="jurídicas">
            aqui é a jurídicas

        </div>

        <div id="benefícios">
            aqui é a benefícios

        </div>
        <div id="nota_pesar">
            aqui são as notas pesar

        </div>

        <div   id="tv_sindcode" >
            aqui é a tv sindcode

        </div>

        aqui é a area
        <div id="rodapé">
            aqui é o rodapé
        </div>

    </div>
{% endblock %}